body {
  text-align: center;
  color: white;
  background-color: #feae96;
  /* background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%); */
  background-attachment: fixed;
}

img {
  width: 100%;
  height: auto;
}
.logo {
  max-width: 40px;
}
